/* Contenedor principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333;
    font-family: 'Arial', sans-serif;
}

/* Caja de inicio de sesión */
.login-box {
    background: rgba(51, 51, 51, 0.9);
    border-radius: 1.5rem;
    padding: 6rem; /* Mucho más espacio interno */
    width: 800px; /* Ancho considerablemente mayor */
    height: auto; /* Altura automática para ajustar contenidos */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8); /* Sombra más grande */
    text-align: center;
}


/* Título */
h2 {
    color: #d1ff00;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    text-align: center;
}

/* Inputs */
input {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

/* Botón de inicio de sesión */
.login-button {
    width: 100%;
    max-width: 300px; /* Ancho máximo */
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    background-color: #91e200;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    margin: 0 auto; /* Centra horizontalmente */
}

/* Botón de registro */
.register-link {
    display: block;
    width: 100%; /* Igual ancho al resto */
    max-width: 300px; /* Ancho máximo */
    margin: 1rem auto; /* Centrado horizontal y margen superior */
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #000;
    background-color: #91e200;
    border-radius: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
    background-color: #78b000;
    transform: scale(1.05);
}

/* Texto debajo del botón */
.login-footer {
    margin-top: 1rem;
    color: #d1ff00;
    font-size: 1.5rem;
}


.register-link:hover {
    background-color: #78b000;
    transform: scale(1.05);
}
