.splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000; /* Fondo oscuro */
    color: #fff;
    transition: opacity 1.5s ease-in-out;
}

.splash-screen.fade-out {
    opacity: 0;
}

.fitness-image {
    width: 200px; /* Ajusta el tamaño según sea necesario */
}

.toggle-switch {
    margin-top: 20px;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch .slider {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.toggle-switch .slider:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: all 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked + .slider:before {
    transform: translateX(30px);
}
